
/* Color palette from:
colourpod.com/post/661867127728390144/thoroughly-bloviated-submitted-by-seesawsiya
 */


/* Document-wide elements */

body {
    background-color: #53D9B8;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 1.75rem;
    text-align: center;
    height: 100vh;
}

h1, h2 {
    font-family: "Staatliches", "Arial Black", sans-serif;
}

h1 {
    font-size: 5.75rem;
    line-height: 0rem;
}

h2 {
    font-size: 4.5rem;
    line-height: normal;
}

/* Body elements */

header {
    background-color: #F6B439;
    margin: auto;
    margin-top: 3%;
    max-width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-around;
}

main {
    max-width: 75%;
    margin: auto;
    padding-bottom: 3%;
}

/* keyframe animation for percent off */

@keyframes percent-off__pulse {
    0% {transform: scale(1);}
    25% {transform: scale(1.1);}
    50% {transform: scale(1.2);}
    75% {transform: scale(1.1);}
}

.percent-off {
    color: #F53A0D;
    animation: percent-off__pulse 4s linear infinite;
    display: inline-block;
}

/* Transition animation in coupon box */

.coupon-box {
    background-color: #1B635F;
    color: #F5E1C0;
    padding: 3%;
    margin: auto;
    margin-bottom: 3%;
    width: 50%;
    transition: width 2s;
    transition: color 1s, width 2s;
}

.coupon-box:hover {
    width: 70%;
    color: #F6B439;
}

.coupon_code {
    line-height: 1rem;
}

.coupon-box__code {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 3.25rem;
    line-height: 2rem;
}
